:root{
  --eext-header-separador: rgba(255, 255, 255, 0.160);
}
body {
  font-family: Consolas, 'Courier New', monospace;
  font-size: 14px;
}
::selection {
  background: var(--vscode-selection-background, rgba(40, 151, 255, 0.5));
}
#cabeçalho {
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
  margin: 0;
  padding: 0;
  background: var(--vscode-sideBar-background);
}
#cabeçalho form {
  padding: 1em;
  padding-bottom: 0.5em;
}
#cabeçalho form div span {
  white-space: nowrap;
  padding: 4px 0 4px 0;
  display: inline-block;
  width: 130px;
  text-align: right;
  font-size: 11px;
  color: var(--vscode-foreground);
}
button:focus { outline: 0; }
#cabeçalho button {
  float: right;
  margin-top: 0.3em;
  margin-right: 0.5em;
  margin-left: 0.5em;
  background-color: var(--vscode-button-background);
  border: none;
  color: var(--vscode-button-foreground);
  padding: 4px 10px 4px 10px;
}
#cabeçalho button:hover {
  background-color: var(--vscode-button-hoverBackground);
}
.inputTitulo {
  display: inline-block;
  width: 5em;
  text-align: right;
}
input {
  width: 4em;
  margin-left: 1em;
  padding: 4px 6px 4px 6px;
  background-color: var(--vscode-input-background);
  color: var(--vscode-foreground);
  border: none;
}
input:focus {
  outline: 1;
  outline-color: var(--vscode-focusBorder);
}
select {
  width: 5em;
  margin-left: 1em;
  padding: 4px 6px 4px 6px;
  background-color: var(--vscode-input-background);
  color: var(--vscode-foreground);
  border: none;
}
select:focus {
  outline: 1;
  outline-color: var(--vscode-focusBorder);
}
.titulos {
  padding: 0.25em;
  background-color: var(--vscode-button-background);
}
.titulosI {
  float: left;
  width: calc(100% - 48px);
}
/* header campo */
.hc {
  display: inline-block;
  width: 4.45em;
  color: white;
  text-align: center;

  margin-left: 1em;
  padding-left: 1em;
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: var(--eext-header-separador);
}
/* borda direita (right) */
.rBorder {
  padding-right: 1em;
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: var(--eext-header-separador);
}
pre {
  margin-top: 110px;
  font-family: Consolas, 'Courier New', monospace;
  color: var(--vscode-foreground);
  font-size: 14px;
}
#conteudoArquivo:focus { outline: 0; }
.caminho {
  float: left;
  width: 96%;
  margin: 1em;
  padding: 8px;
  text-align: center;
  white-space: normal;
  border-style: solid;
  border-width: 1px;
  border-color: var(--vscode-focusBorder);
  background: var(--vscode-sideBar-background);
}
a {
  color: var(--vscode-foreground);
  text-decoration: none;
  opacity: 0.8;
}
a:hover {
  color: var(--vscode-panelTitle-activeForeground);
  opacity: 1;
}
.lin {
  float: left;
  width: 100%;
  white-space: nowrap;
}
.rubEntra {
  display: inline-block;
  width: fit-content;
  padding-right: 1.6em;
  background-color: rgba(0, 192, 48, 0.15);
  color: var(--vscode-panelTitle-activeForeground);
}
.rubSai {
  display: inline-block;
  width: fit-content;
  padding-right: 1.6em;
  background-color: rgba(192, 48, 0, 0.15);
  color: var(--vscode-panelTitle-activeForeground);
}
.nomeRubrica .tooltip, .periodo .tooltip {
  visibility: hidden;
  padding: 5px;
  margin-bottom: 1px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--vscode-focusBorder);
  background: var(--vscode-sideBar-background);
  position: absolute;
  bottom: 100%;
  z-index: 6;
}
.nomeRubrica .tooltip {
  left: 0;
}
.periodo .tooltip {
  right: 0;
}
/* Show the tooltip text when you mouse over the tooltip container */
.nomeRubrica:hover .tooltip, .periodo:hover .tooltip {
  visibility: visible;
}
.tab {
  margin-left: 4.25em;
}
.texto {
  white-space: pre;
  opacity: 0.8;
}
/** campo */
.c {
  margin-left: 1em;
  padding-left: 1em;
}
/** campo sem borda */
.csb {
  color: var(--vscode-focusBorder);
  margin: 0;
  padding: 0 1em 0 1em;
}
.nomeRubrica {
  position: relative;
  display: inline-block;
  width: 26em;
}
.vRub {
  display: inline-block;
  width: 5em;
  text-align: right;
}
.z {
  color: var(--vscode-foreground);
  opacity: 0.4;
}
.periodo {
  position: relative;
  display: inline-block;
  width: 8em;
  text-align: right;
}
.contLinha {
  float: left;
  width: 32px;
  margin-right: 1em;
  color: var(--vscode-foreground);
  opacity: 0.6;
  text-align: right;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#msgAoCarregar, .mensagemErr {
  position: fixed;
  bottom: 16px;
  left: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  padding: 8px;
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;
  border: 1px solid var(--vscode-focusBorder);
  background: var(--vscode-sideBar-background);
  visibility: hidden;
}
.mensagemErr {
  bottom: 50%;
  visibility: visible;
  text-align: left;
  border-color: var(--vscode-errorForeground);
  opacity: 0.75;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid var(--vscode-focusBorder);
  text-align: left;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: var(--vscode-sideBar-background);
  /*border-bottom: 1px solid rgb(23, 74, 108);*/
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: var(--vscode-input-background);
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: var(--vscode-input-background) !important; 
  color: #fff;
}
table {
  margin-left: 16px;
  border-collapse: collapse;
  border: 1px solid var(--vscode-focusBorder);
}
th {
  color: var(--vscode-panelTitle-activeForeground);
}
td, th {
  border: 1px solid var(--vscode-focusBorder);
  padding: 6px;
}
